footer {
    // min-width: 1600px;
    background-color: $fon-color;
    padding: 60px 0;



}
.footer__container{
    text-align: center;
}


address {
    font-style: normal;
}





.address__link[href="https://www.google.com/maps/place/%D0%B1%D1%83%D0%BB.+%D0%9B%D0%B5%D1%81%D0%B8+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%BA%D0%B8,+26,+%D0%9A%D0%B8%D0%B5%D0%B2,+02000/@50.4265807,30.5383858,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4cf0e033ecbe9:0x57a4dffefec77da0!8m2!3d50.4265807!4d30.5383858"] {
    color: $font-color;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 8px;
}

.address__link[href="mailto:info@devstudio.com"] {
    color: #FFFFFF99;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 8px;
}

.address__link[href="tel:+380961111111"] {
    color: #FFFFFF99;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}




.networks__wrap {
    display: flex;
    gap: 10px;
    justify-content: center;
}



footer p {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $font-color;
}
.networks{
    padding-bottom: 60px;
    padding-top: 60px;
}
@media (min-width: 768px){
    .networks{
     padding: 0;
    }
   
        .footer__wrap{
            display: flex;
            justify-content: space-around;
            margin-bottom: 60px;
        }
    
}

.networks__link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $font-color;
    line-height: 1;
    margin-bottom: 0;
}

.footer__mail input {
    width: 100%;
    background-color:$fon-color;
    color: $p-color;
    border-color: $p-color;
    padding: 15px;
    margin-bottom: 20px;
}
@media (min-width: 768px){
    .footer__mail input {
        width: 450px;
    }
}



.footer__btn  {
    position: relative;
    top: 3px;
    margin-left: 12px;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: $font-color;
    background-color: $brand-color;
}
@media (min-width: 768px){
    .footer__btn {
        display: block;
        margin: 0 auto;
    }
}

.footer__btn svg {
    position: relative;
    top: 5px;
    margin-left: 10px;
}
@media (min-width: 1200px){

    footer ul {
    display: block;
}

footer li {
    line-height: 1.5;
    margin-bottom: 9px;
&:last-child {
        margin-bottom: 0;
    }
}
    .footer__container {
    display: flex;

    text-align: start;
}

     .footer__contakt{
        display: inline-block;
        }


    .footer__contakt {
    margin-right: 70px;
}
   
    .footer__mail input {
        width: 358px;
        margin-bottom: 0;
    }

    .footer__mail {
    margin-left: 93px;
}
.footer__mail--inner{
display: flex;
gap: 12px;
}
}